body {
    /* Birthday Colors */
  /* --background-color: #0c223b;
  --location-color: #79c9b0;
  --game-color: #ef467d; */
  /* September Colors */
  --background-color: #943201;
  --location-color: #efb700;
  --game-color: #36a45e;
  --text-color: #ffc2fc;
  --champion-color: #378cb0;

  background-color: var(--background-color);
  color: var(--text-color);
  option {
    color: var(--background-color);
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-family: 'Pacifico', cursive;
}

h2 {
  text-shadow: 0px 0px 12px black;
}

.card {
  border: 3px solid;
}

.location {
  border-color: var(--location-color);
  background-color: var(--location-color);
  border-radius: 3% 3% / 10% 10%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 8vh;
}

.location h2 {
  flex: 0 0 100%;
}

.game {
  border-color: var(--game-color);
  background-color: var(--game-color);  
  border-radius: 30px;
  width: 22vw;
  height: fit-content;
  margin:1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-button {
  background-color: var(--text-color);
  color: var(--background-color);
  border-radius: 12px;
  padding: 1rex;
  width: 5vw;
  display: inline-flex;
  justify-content: center;
  text-decoration: bold ;
}

.bgg {
  background-color: #3e3b60;
  color: #ff5001;
}

.htp {
  background-color: #aa2397;
  color: #ED1D25;
}

.game > h3 {
  margin-bottom: 0;
}

.game > p {
  margin-top: 0;
}

.score-maker {
    border-color: var(--game-color);
    background-color: var(--game-color);
    border-top-left-radius: 25% 25%;
    border-top-right-radius: 25% 25%;
}

.score-holder {
    border-color: var(--location-color);
    background-color: var(--location-color);
    border-bottom-left-radius: 25% 25%;
    border-bottom-right-radius: 25% 25%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 8vh;
}

.score {
  border-color: var(--game-color);
  background-color: var(--game-color);  
  border-radius: 30px;
  width: 22vw;
  height: fit-content;
  margin:1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#realname {
  background: transparent;
  width: 80%;
}

#score-number {
  background: transparent;
  width: 80%;
}

.leaderboard {
    border-color: var(--champion-color);
    background-color: var(--champion-color);  
    border-radius: 30px;
    width: 22vw;
    height: fit-content;
    margin:0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}